# Node.js dependencies
node_modules

# Environment files
backend/.env
frontend/.env
*.env.local
*.env.development
*.env.production

# Python-related files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg
*.egg-info/
*.whl

# GitHub-related files
.github

# IDE and editor files
.idea
.vscode

# Logs and temporary files
*.log
*.tmp

# SSL certificates
ssl/

# Other
.DS_Store
Thumbs.db